.ant-table-wrapper .ant-table-tbody>tr>td {
    padding: 4px;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
    background-color: #f2f0fd; 
  }

.ant-table-wrapper .ant-table-thead >tr>th {
    padding: 16px;
    background: #efefef;
}

.ant-pagination .ant-pagination-item-active {
    background-color: #ffffff;
    border-color: #7c69ef;
}

.ant-pagination .ant-pagination-item-active a {
    color: #7c69ef;
}

.ant-table-content table {
    min-width: 100%;
  
}

.ant-empty-image {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.ant-empty-description {
    text-align: center;
}

